<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>orphanage-management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tryal</display-name>
    <servlet-name>tryal</servlet-name>
    <servlet-class>tryal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tryal</servlet-name>
    <url-pattern>/tryal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_registerServlet</display-name>
    <servlet-name>User_registerServlet</servlet-name>
    <servlet-class>User_registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_registerServlet</servlet-name>
    <url-pattern>/User_registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approveServlet</display-name>
    <servlet-name>approveServlet</servlet-name>
    <servlet-class>approveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveServlet</servlet-name>
    <url-pattern>/approveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rejectServlet</display-name>
    <servlet-name>rejectServlet</servlet-name>
    <servlet-class>rejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rejectServlet</servlet-name>
    <url-pattern>/rejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_loginServlet</display-name>
    <servlet-name>User_loginServlet</servlet-name>
    <servlet-class>User_loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_loginServlet</servlet-name>
    <url-pattern>/User_loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_logoutServlet</display-name>
    <servlet-name>User_logoutServlet</servlet-name>
    <servlet-class>User_logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_logoutServlet</servlet-name>
    <url-pattern>/User_logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InquiryServlet</display-name>
    <servlet-name>InquiryServlet</servlet-name>
    <servlet-class>InquiryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquiryServlet</servlet-name>
    <url-pattern>/InquiryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_blogServlet</display-name>
    <servlet-name>Add_blogServlet</servlet-name>
    <servlet-class>Add_blogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_blogServlet</servlet-name>
    <url-pattern>/Add_blogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getBlogimage</display-name>
    <servlet-name>getBlogimage</servlet-name>
    <servlet-class>getBlogimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBlogimage</servlet-name>
    <url-pattern>/getBlogimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>onate</display-name>
    <servlet-name>onate</servlet-name>
    <servlet-class>onate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onate</servlet-name>
    <url-pattern>/onate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonateServlet1</display-name>
    <servlet-name>DonateServlet1</servlet-name>
    <servlet-class>DonateServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateServlet1</servlet-name>
    <url-pattern>/DonateServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonateNowServlet</display-name>
    <servlet-name>DonateNowServlet</servlet-name>
    <servlet-class>DonateNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateNowServlet</servlet-name>
    <url-pattern>/DonateNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBlogServlet</display-name>
    <servlet-name>ApproveBlogServlet</servlet-name>
    <servlet-class>ApproveBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBlogServlet</servlet-name>
    <url-pattern>/ApproveBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_add_orphans</display-name>
    <servlet-name>admin_add_orphans</servlet-name>
    <servlet-class>admin_add_orphans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_add_orphans</servlet-name>
    <url-pattern>/admin_add_orphans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getOrphansImage</display-name>
    <servlet-name>getOrphansImage</servlet-name>
    <servlet-class>getOrphansImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getOrphansImage</servlet-name>
    <url-pattern>/getOrphansImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_update_orphan</display-name>
    <servlet-name>admin_update_orphan</servlet-name>
    <servlet-class>admin_update_orphan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_update_orphan</servlet-name>
    <url-pattern>/admin_update_orphan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_orphan_update</display-name>
    <servlet-name>admin_orphan_update</servlet-name>
    <servlet-class>admin_orphan_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_orphan_update</servlet-name>
    <url-pattern>/admin_orphan_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_orphan_delete</display-name>
    <servlet-name>admin_orphan_delete</servlet-name>
    <servlet-class>admin_orphan_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_orphan_delete</servlet-name>
    <url-pattern>/admin_orphan_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getInquiryimage</display-name>
    <servlet-name>getInquiryimage</servlet-name>
    <servlet-class>getInquiryimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getInquiryimage</servlet-name>
    <url-pattern>/getInquiryimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inquiry_approveServlet</display-name>
    <servlet-name>inquiry_approveServlet</servlet-name>
    <servlet-class>inquiry_approveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inquiry_approveServlet</servlet-name>
    <url-pattern>/inquiry_approveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inquiry_rejectServlet</display-name>
    <servlet-name>inquiry_rejectServlet</servlet-name>
    <servlet-class>inquiry_rejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inquiry_rejectServlet</servlet-name>
    <url-pattern>/inquiry_rejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_approve_feedback</display-name>
    <servlet-name>admin_approve_feedback</servlet-name>
    <servlet-class>admin_approve_feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_approve_feedback</servlet-name>
    <url-pattern>/admin_approve_feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactus_Servlet</display-name>
    <servlet-name>contactus_Servlet</servlet-name>
    <servlet-class>contactus_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus_Servlet</servlet-name>
    <url-pattern>/contactus_Servlet</url-pattern>
  </servlet-mapping>
</web-app>